<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: 600;">Keranjang</ion-title>
    <ion-title slot="end" style="font-size: 13px; font-weight: 500;">Hapus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="this.loadingBar" color="blue"></ion-progress-bar>
  <div class="product-card" *ngFor="let cart of this.cart; let i = index;">
    <div class="card-body">
      <ion-grid>
        <ion-row>
          <!-- <ion-col size="1" class="checkbox-product">
            <ion-checkbox color="blue"></ion-checkbox>
          </ion-col> -->
          <ion-col size="5">
            <img src="{{ cart.book.book_cover }}" class="book-image">
          </ion-col>
          <ion-col size="7">
            <h5 class="book-title">{{ cart.book.book_title }}</h5>
            <h4 class="owner-name">Pemilik: <span style="font-weight: 600;">{{ cart.book.user.name }}</span></h4>
            <h6 class="owner-location">{{ cart.book.user.alamat_rumah }}</h6>
            <h5 class="book-price" *ngIf="cart.type == 'rent'">{{ cart.book.rental_price | currency:'Rp.' }} / hari</h5>
            <h5 class="book-price" *ngIf="cart.type == 'buy'">{{ cart.book.selling_price | currency:'Rp.' }} / pcs</h5>
            <div class="quantity-order">
              <ion-icon name="trash" class="icon-button trash-icon"></ion-icon>
              <ion-icon name="remove-circle" class="icon-button" (click)="this.minQuantity(i)"></ion-icon>
              <ion-input type="number" value="{{ cart.jumlah }}" [(ngModel)]="cart.jumlah" readonly class="quantity-input"></ion-input>
              <ion-icon name="add-circle" class="icon-button" (click)="this.addQuantity(i)"></ion-icon>
            </div>
            <span class="order-rule">Min. penyewaan produk ini 3 hari.</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="white-space"></div>

  <div class="checkout-section" *ngIf="this.totalPrice != 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4 class="price-title">Total Harga</h4>
          <h4 class="total-price">{{ this.totalPrice | currency:'Rp.'}}</h4>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="block" shape="round" color="blue" class="checkout-button" (click)="this.pushShippingMethodPage()">Checkout ({{ this.checkoutItems?.length }})</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
