// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

* {
  font-family: 'Open Sans', sans-serif !important;
}

.no-border {
  border: 0px !important;
}

.float-right {
  float: right;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

img[src*="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png"], .gm-style-cc {
  display: none !important;
}
