.logo-area {
  margin: 20px 0px;
  text-align: left;
}

.menu-title {
  margin-left: -10px;
  font-weight: 600;
  font-size: 15px;
}

.input-text {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 20px;
  padding: 15px;
}

.input-label {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px 0px 4px 0px;
}

.submit-button {
  height: 50px;
  font-weight: 900;
}

.instruction-title {
  font-size: 15px;
  font-weight: 600;
  margin: 0px 0px 30px 0px;
  color: rgba(0, 0, 0, 0.7);

}
