<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="menu-title">Kembali</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="logo-area">
    <img src="assets/icon/logo.png" height="40px" width="auto">
  </div>

  <h6 class="instruction-title">Silahkan lengkapi form dibawah untuk melakukan reset password</h6>

  <h5 for="email" class="input-label">Email</h5>
  <input type="text" name="" value="" class="input-text">

  <ion-button expand="full" color="primary" (click)="this.pushHomePage()" class="submit-button" style="margin: 20px 0px 0px 0px;">Reset password</ion-button>

</ion-content>
