<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;"><img src="assets/icon/logo.png" height="23px" width="auto"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.pushCartPage()">
        <ion-icon slot="icon-only" name="ios-cart" style="font-size: 23px;"></ion-icon>
      </ion-button>
      <span color="danger" class="icon-badge" *ngIf="this.cart?.length > 0">{{ this.cart?.length }}</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding>

    <ion-slides pager="true">

      <ion-slide>
        <img src="assets/images/banner-1.jpg" width="100%" height="auto">
      </ion-slide>

      <ion-slide>
        <img src="assets/images/banner-2.jpg" width="100%" height="auto">
      </ion-slide>

      <ion-slide>
        <img src="assets/images/banner-3.jpg" width="100%" height="auto">
      </ion-slide>

    </ion-slides>

    <div class="section-area">
      <div class="area-title">
        <span class="left-title">Buku populer</span>
        <span class="right-title">Lihat semua</span>
      </div>
      <div class="area-body">
        <ion-slides style="width: 100% !important;">
          <ion-grid *ngIf="this.bookSkeleton">
            <ion-row>
              <ion-col>
                <div style="width: 100%; height: 120px; background: #EEEEEE;"></div>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              </ion-col>
              <ion-col>
                <div style="width: 100%; height: 120px; background: #EEEEEE;"></div>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              </ion-col>
              <ion-col>
                <div style="width: 100%; height: 120px; background: #EEEEEE;"></div>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-slide *ngFor="let books of this.books">
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let book of books" (click)="this.pushDetailBook(book)" size="4">
                  <img src="{{ book.book_cover }}" width="100%" height="auto">
                  <h5 class="book-title">{{ book.book_title }}</h5>
                  <div class="book-stars">
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                  </div>
                  <h5 class="book-price">{{ book.selling_price | currency:"Rp." }} / pcs</h5>
                </ion-col>
                <ion-col *ngFor="let book of books" (click)="this.pushDetailBook(book)" size="4">
                  <img src="{{ book.book_cover }}" width="100%" height="auto">
                  <h5 class="book-title">{{ book.book_title }}</h5>
                  <div class="book-stars">
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                  </div>
                  <h5 class="book-price">{{ book.selling_price | currency:"Rp." }} / pcs</h5>
                </ion-col>
                <ion-col *ngFor="let book of books" (click)="this.pushDetailBook(book)" size="4">
                  <img src="{{ book.book_cover }}" width="100%" height="auto">
                  <h5 class="book-title">{{ book.book_title }}</h5>
                  <div class="book-stars">
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                  </div>
                  <h5 class="book-price">{{ book.selling_price | currency:"Rp." }} / pcs</h5>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>

        </ion-slides>
      </div>
    </div>

    <ion-searchbar animated placeholder="Cari buku kesukaan kamu" style="border-radius: 255px !important;"></ion-searchbar>

    <div class="section-area">
      <div class="area-body">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <img src="assets/images/dilan_cover.jpg" width="100%" height="auto">
            </ion-col>
            <ion-col>
              <h3 class="book-title-big">Dilan 1990</h3>
              <div class="book-stars-big">
                <ion-icon name="star" class="book-star-big"></ion-icon>
                <ion-icon name="star" class="book-star-big"></ion-icon>
                <ion-icon name="star" class="book-star-big"></ion-icon>
                <ion-icon name="star" class="book-star-big"></ion-icon>
                <ion-icon name="star" class="book-star-big"></ion-icon>
              </div>
              <p class="book-description-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <ion-button shape="round" fill="outline" size="small" style="font-size: 10px !important; font-weight: 700;" color="blue">Lanjutkan membaca</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>

</ion-content>
