<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;"><img src="assets/icon/logo.png" height="23px" width="auto"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.pushCartPage()">
        <ion-icon slot="icon-only" name="ios-cart" style="font-size: 23px;"></ion-icon>
      </ion-button>
      <span color="danger" class="icon-badge">2</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding>

    <ion-slides pager="true">

      <ion-slide>
        <img src="assets/images/banner-1.jpg" width="100%" height="auto">
      </ion-slide>

      <ion-slide>
        <img src="assets/images/banner-2.jpg" width="100%" height="auto">
      </ion-slide>

      <ion-slide>
        <img src="assets/images/banner-3.jpg" width="100%" height="auto">
      </ion-slide>

    </ion-slides>

    <div class="section-area">
      <div class="area-title">
        <span class="left-title">Buku populer</span>
        <span class="right-title">Lihat semua</span>
      </div>
      <div class="area-body">
        <ion-slides style="width: 100% !important;">

          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col (click)="this.pushDetailBook()">
                  <img src="assets/images/cover-1.jpg" width="100%" height="auto">
                  <h5 class="book-title">The subtle art of not giving a fuck</h5>
                  <div class="book-stars">
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                  </div>
                  <h5 class="book-price">Rp. 252.000 / pcs</h5>
                </ion-col>
                <ion-col>
                  <img src="assets/images/cover-1.jpg" width="100%" height="auto">
                  <h5 class="book-title">The subtle art of not giving a fuck</h5>
                  <div class="book-stars">
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                  </div>
                  <h5 class="book-price">Rp. 22.000 / hari</h5>
                </ion-col>
                <ion-col>
                  <img src="assets/images/cover-1.jpg" width="100%" height="auto">
                  <h5 class="book-title">The subtle art of not giving a fuck</h5>
                  <div class="book-stars">
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                  </div>
                  <h5 class="book-price">Rp. 352.000 / pcs</h5>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>

          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/images/cover-1.jpg" width="100%" height="auto">
                  <h5 class="book-title">The subtle art of not giving a fuck</h5>
                  <div class="book-stars">
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                  </div>
                  <h5 class="book-price">Rp. 252.000</h5>
                </ion-col>
                <ion-col>
                  <img src="assets/images/cover-1.jpg" width="100%" height="auto">
                  <h5 class="book-title">The subtle art of not giving a fuck</h5>
                  <div class="book-stars">
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                  </div>
                  <h5 class="book-price">Rp. 252.000</h5>
                </ion-col>
                <ion-col>
                  <img src="assets/images/cover-1.jpg" width="100%" height="auto">
                  <h5 class="book-title">The subtle art of not giving a fuck</h5>
                  <div class="book-stars">
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                    <ion-icon name="star" class="book-star"></ion-icon>
                  </div>
                  <h5 class="book-price">Rp. 252.000</h5>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>

        </ion-slides>
      </div>
    </div>

    <ion-searchbar animated placeholder="Cari buku kesukaan kamu" style="border-radius: 255px !important;"></ion-searchbar>

    <div class="section-area">
      <div class="area-body">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <img src="assets/images/dilan_cover.jpg" width="100%" height="auto">
            </ion-col>
            <ion-col>
              <h3 class="book-title-big">Dilan 1990</h3>
              <div class="book-stars-big">
                <ion-icon name="star" class="book-star-big"></ion-icon>
                <ion-icon name="star" class="book-star-big"></ion-icon>
                <ion-icon name="star" class="book-star-big"></ion-icon>
                <ion-icon name="star" class="book-star-big"></ion-icon>
                <ion-icon name="star" class="book-star-big"></ion-icon>
              </div>
              <p class="book-description-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <ion-button shape="round" fill="outline" size="small" style="font-size: 10px !important; font-weight: 700;" color="blue">Lanjutkan membaca</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>

</ion-content>
